.Nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
ul {
  list-style: none;
  border: 2px solid black;
  border-radius: 3px;
  padding: 3px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
li {
  border-right: 2px solid black;
  padding: 4px;
  font-size: large;
}

#one {
  margin-right: auto;
  border-right: 0px;
}
#four {
  border-right: 0px;
}

h1 {
  font-weight: 600;
  text-align: center;
  font-size: x-large;
}

.books-section {
  border: 1px solid black;
  border-radius: 5px;
}

.newBookSection {
  border: 1px solid black;
  font-size: large;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.evenBook {
  background-color: lightgray;
}

.newBook {
  margin-left: 4px;
}

.Remove {
  margin: 7px;
  font-size: large;
}

#line {
  margin: 35px 42% 35px 42%;
  width: 16%;
}

.entries {
  margin: 35px 20% 35px 20%;
  width: 60%;
}

h2 {
  text-align: center;
}

.title,
.author {
  background-color: antiquewhite;
  width: 100%;
  margin-bottom: 15px;
}

#Title,
#Author {
  width: 100%;
  font-size: medium;
}

.addButton {
  margin-left: 85%;
  width: 17%;
}

#AddButton {
  background-color: aqua;
  font-size: medium;
  width: 100%;
}
